:root {
    --btn-hover-background-color: #0D6EFD;
    --btn-hover-color: #fff;
}

.form-cadastrar {
  border-radius: 10px;
  border: 2px solid black;
}

.sidebar {
    width: 180px;
    height: 80vh;
}

.opcao:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

@media (max-width: 710px) {
    .d-flex {
      flex-direction: column;
    }
  
    .b-example-divider {
      display: none;
    }
  
    .sidebar {
        height: 20vh;
        width: 100vw;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        margin-top: 0;
        list-style: none;        
      }
      
      .sidebar li {
        flex: 0 0 100%;
        margin-bottom: 10px; /* Ajuste a margem conforme necessário */
      }
      
      .sidebar .opcao {
        width: 100%;
      }
}

/* Estilos CSS para a tela de carregamento */
.loader {
  border: 6px solid rgba(0, 0, 0, 0.5);
  border-left: 6px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 9999;
  display: none; /* Inicialmente, a div estará oculta */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.informacoes-blockchain {
  border: 1px solid black;
  border-radius: 10px;
  display: none;

}
  