/* Estilos para centralizar o vídeo */
.video-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para centralizar o texto */
.video-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Ajuste a altura conforme necessário */
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: black;
  font-size: 20px;
}

b {
  font-size: 1.5rem;
}
