:root {
    --btn-hover-background-color: #0D6EFD;
    --btn-hover-color: #fff;
}

#alterar, #remover, #cadastrar, #adicionarAluno, #removerAluno {
  display: none;
}

.form-alterar, .form-cadastrar, .form-remover, 
.form-adicionar-aluno, .form-remover-aluno {
  border-radius: 10px;
  border: 2px solid black;
}

.sidebar {
    width: 180px;
    height: 80vh;
}

.opcao:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

@media (max-width: 710px) {
    .d-flex {
      flex-direction: column;
    }
  
    .b-example-divider {
      display: none;
    }
  
    .sidebar {
        height: 20vh;
        width: 100vw;
    }

    #tabela {
        padding: 0px;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        margin-top: 0;
        list-style: none;        
      }
      
      .sidebar li {
        flex: 0 0 100%;
        margin-bottom: 10px; /* Ajuste a margem conforme necessário */
      }
      
      .sidebar .opcao {
        width: 100%;
      }
}

@media (max-width: 510px) {
    #tabela {
        overflow: auto;
    }
}
  